html{
    background-color: rgb(169, 194, 194);
}
body{
    margin-top: 30px;
    color: rgb(95, 95, 241);
}
header{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 1px 0 1px;
    width:450px;
    background-color: rgb(241, 237, 237);
}
.btn{
    width: 180px;
    height: 30px;
    border: none ;
    color: rgb(30, 31, 32);
    background-color: rgb(176, 182, 182) ;
    cursor: pointer;
}
a{
    text-decoration:none;
    color: rgb(95, 95, 241) ;
}
a:hover{
    text-decoration: underline;
}