html{
    background-color: rgb(169, 194, 194);
}
body{
    color: rgb(95, 95, 241);
}
header{
    border:1px solid gray;
    text-align: center;
    margin: 0 550px;
    background-color: rgb(241, 237, 237);
}
#new{
    margin: 20px 550px 0;
    padding: 20px 30px 10px 30px;
    border:1px gray;
    background-color: rgb(241, 237, 237);
}
table{
    background-color: rgb(241, 237, 237);
    margin-left: 30px;
}
.btn{
    width: 300px;
    height: 30px;
    margin-left:20px;
    border: 0px none ;
    color: rgb(220, 224, 228);
    background-color: rgb(8, 109, 104) ;
    cursor: pointer;
}
.font{
    text-align: center;
}
a{
    text-decoration:none;
    color: rgb(95, 95, 241) ;
}
a:hover{
    text-decoration: underline;
}