html{
    background-color: rgb(169, 194, 194);
}
body{
    margin-top: 30px;
    color: rgb(95, 95, 241);
}
header{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 1px 0 1px;
    width:450px;
    background-color: rgb(241, 237, 237);
}
#new{
    margin: 0 auto;
    width: 450px;
    padding: 20px 0 10px ;
    background-color: rgb(241, 237, 237);
}
table{
    margin: 0 auto;
    background-color: rgb(241, 237, 237);
}
.click{
    width: 45px;
    height: 25px;
    border: none ;
    color: rgb(220, 224, 228);
    background-color: rgb(8, 109, 104) ;
    cursor: pointer;
}
.btn{
    width: 300px;
    height: 30px;
    border: none ;
    color: rgb(220, 224, 228);
    background-color: rgb(8, 109, 104) ;
    cursor: pointer;
}
.font{
    text-align: center;
}
a{
    text-decoration:none;
    color: rgb(95, 95, 241) ;
}
a:hover{
    text-decoration: underline;
}
.findbtn{
    width: 180px;
    height: 30px;
    border: none ;
    color: rgb(30, 31, 32);
    cursor: pointer;
}
