html{
    background-color: rgb(169, 194, 194);
}
body{
    margin-top: 30px;
    color: rgb(95, 95, 241);
}
header{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 1px 0 1px;
    width:450px;
    background-color: rgb(241, 237, 237);
    border-radius: 3px;
}
#new{
    margin: 0 auto;
    width: 410px;
    padding: 20px 20px 10px 20px;
    background-color: rgb(241, 237, 237);
    border-radius: 3px;
}
table{
    margin: 0 auto;
}
.click{
    width: 45px;
    height: 25px;
    border: none ;
    color: rgb(220, 224, 228);
    background-color: rgb(8, 109, 104) ;
    cursor: pointer;
}/*확인,취소버튼*/
.btn{
    width: 250px;
    height: 40px;
    border: none ;
    color: rgb(220, 224, 228);
    background-color: rgb(8, 109, 104) ;
    cursor: pointer;
    font-size: 15px;
    margin: 10px 0 15px;
}/*로그인 버튼*/
.findbtn{
    width: 180px;
    height: 30px;
    border: none ;
    color: rgb(30, 31, 32);
    cursor: pointer;
    border-radius: 3px 3px 0 0;
}/*아디찾기/비번찾기버튼*/
input,button,select{
    border:2px solid rgb(220, 224, 228);
    border-radius: 3px;
}
.inputbox{
    width: 200px;
    height: 40px;
    padding:0 15px;
    font-size: 15px;
}/*로그인 아이디/비번 박스*/
.inputbox2{
    width:180px;
    height:20px;
    padding:3px 10px;
    font-size: 13px;
}/*회원가입 박스*/
.inputbox3{
    width:320px;
    height: 40px;
    padding:0 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.dupli{
    width:60px;
    height:19px;
    text-align: center;
    border:2px solid rgb(243, 155, 155);
    color: rgb(134, 14, 14);
}/*중복확인 버튼*/
a{
    text-decoration:none;
    color: rgb(95, 95, 241) ;
}
a:hover{
    text-decoration: underline;
}
span{
    font-size:xx-small;
    color:red;
}